{% extends 'base.html' %}

{% block title %}
{{ disc.mold}} Details | Disc Collector
{% endblock %}

{% block content %}
<h1>Discs Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ disc.mold }}</span>
    <p>Manufacturer: {{ disc.manufacturer }}</p>
    <p>Plastic: {{ disc.plastic }}</p>
    <p>Flight: {{ disc.flight }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'discs_update' disc.id %}">Update</a>
    <a href="{% url 'discs_delete' disc.id %}">Delete</a>
  </div>
</div>

{% endblock %}